/* dimension of each card is: height is 1.4 * the given width of the card */

* {
  font-family: "Press Start 2p", sans-serif;
}

body {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 4px;
}

.cards {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 480px;
  width: 440px;
}

.card {
  background-color: #000;
  height: 112px;
  width: 80px;
  margin: 2px;
  border-radius: 2px;
  border: 2px solid blue;
}

.badgeContainer {
  display: flex;
}

/* flips and animates */
.flipCard {
  transform: scale(0.97);
  transition: transform 0.5s;
  transform: rotateY(180deg);
  position: relative;
  transform: scale(1);
  z-index: 10;
}

/* flips card back over after things */
.flipCardBack {
  transform: scale(0.97);
  transition: transform 0.5s;
  transform: rotateY(180deg);
  position: relative;
  transform: scale(1);
  z-index: 10;
}

/* class added to the card if it is matched during the game */
.matched {
  visibility: hidden;
}

/* CSS for the modal */
.modalBackground {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

/* class for when modal is visible */
.modalActive {
  visibility: visible;
  opacity: 1;
}

.modal {
  background-color: white;
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
